.warp-banner{
  height: 320px;
  margin: 14px 16px 0 16px;
  border-radius: 22px;

  background-image: url("../images/Galaxy_Express_wrap-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  overflow: hidden;

  border: 1px solid rgba(255,255,255,0.14);
  box-shadow: 0 22px 60px rgba(0,0,0,0.55);
}

.warp-banner::after{
  content: "";
  position: absolute;
  inset: 0;
  background:
    radial-gradient(700px 300px at 20% 30%, rgba(255,43,214,0.18), transparent 60%),
    radial-gradient(700px 300px at 80% 40%, rgba(32,227,255,0.16), transparent 60%),
    linear-gradient(180deg, rgba(0,0,0,0.25), rgba(0,0,0,0.55));
}
